foo
	<connectionStrings>
		<!-- ArubaNotificationV2 -->
		<add name="ArubaNotificationV2" connectionString="Data Source=.\SqlExpress;initial catalog=ArubaNotificationV2;Integrated Security=true;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
		<!--<add name="ArubaNotificationV2" connectionString="Data Source=ArubaNotificationV2.db.aruba;initial catalog=ArubaNotificationV2;Integrated Security=true;Max Pool Size=1000;" providerName="System.Data.SqlClient" />-->
		<!-- ArubaMessageBroker -->
		<add name="ArubaMessageBroker" connectionString="Data Source=.\SqlExpress;Initial Catalog=ArubaMessageBroker;Integrated Security=true;Connection Timeout=600;Max Pool Size=500;" providerName="System.Data.SqlClient" />
		<!--<add name="ArubaMessageBroker" connectionString="Data Source=ArubaMessageBroker.db.aruba;Initial Catalog=ArubaMessageBroker;Integrated Security=true;Connection Timeout=600;Max Pool Size=500;" providerName="System.Data.SqlClient" />-->
		<!-- ArubaNotificationV2MongoDB -->
		<!--<add name="ArubaNotificationV2MongoDB" connectionString="mongodb://localhost:27017" />-->
		<add name="ArubaNotificationV2MongoDB" connectionString="mongodb://userapi2:123456AB@ArubaNotificationV2Mongo01.db.aruba,ArubaNotificationV2Mongo02.db.aruba,ArubaNotificationV2Mongo03.db.aruba/admin?replicaSet=dev_mongonsa_rs&amp;j=true" />
bar foo foobar
		<!-- ArubaWebApiLog -->
		<add name="ArubaWebApiLog" connectionString="Data Source=ArubaWebApiLog.db.aruba;Initial Catalog=ArubaWebApiLog;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<!-- ArubaCommSys -->
		<add name="ArubaCommSys" connectionString="Data Source=ArubaCommSys.db.aruba;Initial Catalog=ArubaCommSys;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<!-- ArubaRegistry -->
		<add name="ArubaRegistry" connectionString="Data Source=ArubaNotificationV2.db.aruba;initial catalog=ArubaRegistry;Integrated Security=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>